html {
    height: 100%;
}
body {
    background-color:#f5f5dc;
    text-align:center;
    height: 85%;
}
h1, h2, h3, p {
    color: #111111;
    font-family:Helvetica,Arial,sans-serif;
}

h1 {
   font-size:72pt;
}

#errorMsg{
   visibility:hidden;
}

#credit {
    position:fixed;
    bottom:0px;
    right:0px;
    margin:3px;
}

